extends ../dashboard_layout

block custom_link

  link(href="https://cdn.jsdelivr.net/npm/gijgo@1.8.1/combined/css/gijgo.min.css" rel="stylesheet" type="text/css")

block content
  
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
    h1.h2= title

  .card
    h5.card-header Data Ibadah Baru
    .card-body
      form(action="/ibadah/edit/#{ibadah.id}" method="post")
        .form-group
          label(for='fresh') Ibadah Fresh
          select.custom-select(name="fresh")
            option(selected) -- Pilih Fresh--
            each item, i in dataFresh
              if(item.id === ibadah.fresh_id)
                option(value="#{item.id}" selected) #{item.nama}
              else
                option(value="#{item.id}") #{item.nama}
        .form-group
          label(for='alamat') Alamat Ibadah
          input.form-control(name="alamat", type='text', placeholder="Alamat Ibadah", value="#{ibadah.alamat}")
        .form-row
          .form-group.col-md-6
            label(for='tanggal') Tanggal Ibadah
            input#datepicker.form-control(name="tanggal",placeholder="Alamat Ibadah", value="#{moment(ibadah.tanggal).format('YYYY-MM-DD')}")
          .form-group.col-md-6
            label(for='jam') Jam Ibadah
            //- - date = moment(ibadah.tanggal).locale('id').format('YYYY/MM/DD')
            input#timepicker.form-control(name="jam", placeholder="Jam:Menit", value="#{String(moment(moment(ibadah.tanggal).locale('id').format('YYYY/MM/DD')+' '+ibadah.jam).format('hh:mm'))}")
        .form-group
          label(for='tema') Tema Ibadah
          input.form-control(name="tema", type='text', placeholder="Tema Ibadah", value="#{ibadah.tema}")
        .form-group
          label(for='pengkhotbah') Pengkhotbah Ibadah
          input.form-control(name="pengkhotbah", type='text', placeholder="Pengkhotbah Ibadah", value="#{ibadah.pengkhotbah}")
        .form-group
          label(for='description') Keterangan Ibadah
          input.form-control(name="description", type='text', placeholder="Keterangan Ibadah", value="#{ibadah.description}")

        .text-center
          button.btn.btn-md.btn-primary(type='submit', name='submit', width="200") Simpan
          a.btn.btn-md.btn-danger(href="/ibadah", id="cancel" name='cancel', width="200") Kembali


block custom_script
  script(src="https://cdn.jsdelivr.net/npm/gijgo@1.8.1/combined/js/gijgo.min.js" type="text/javascript")
  script.
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });
    $('#timepicker').timepicker({
        uiLibrary: 'bootstrap4',
        modal: true,
        
    });